.czn-slider.ui-slider {
    background: #ffffff;
    border: none;
    border-radius: 0;
}

.czn-slider.ui-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 0;
    border-color: transparent;
    transition: background 0.4s ease;
    cursor: pointer;
}

.czn-slider.ui-slider .ui-slider-handle.ui-state-hover, 
.czn-slider.ui-slider .ui-slider-handle.ui-state-active {
    background: #e30e13;
}

.czn-slider.ui-slider .ui-slider-pip .ui-slider-line {
    background: #ffffff;
    transition: all 0.4s ease;
}

.czn-slider.ui-slider.ui-slider-horizontal {
    height: 6px;
}

.czn-slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    top: -25px;
    margin-left: -10px;
}

.czn-slider.ui-slider.ui-slider-horizontal .ui-slider-pip {
    top: 10px;
}

.czn-slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
    width: 2px;
    height: 10px;
    margin-left: -1px;
}

.czn-slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    height: 20px;
}

.czn-slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    height: 12px;
}

.czn-slider .ui-slider-handle {
    background: white;
}
.czn-slider .ui-slider-handle:focus {
    outline: none!important;
}
.czn-slider .ui-slider-range,
.czn-slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
.czn-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    background: #e30e13;
    border-radius: 0;
}
