@font-face {
    font-family: 'fira_sanslight';
    src: url('../fuentes/firasans-light-webfont.woff2') format('woff2'), url('../fuentes/firasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fuentes/oswald-regular-webfont.woff2') format('woff2'), url('../fuentes/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*=======
=========
Generales
=========
=======*/
html {
    font-size: 16px;
    font-family: 'fira_sanslight';
}

/*Tipografia*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'oswaldregular';
}

p {
    font-family: 'fira_sanslight';
}

/*Estructura*/
#fullwrap {
    min-height: 100vh;
}

#fullwrap > .container {
    padding: 0;
    min-height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 2;
    position: relative;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1650px;
    }
}

img {
    max-width: 100%;
}

/*Lineas*/
.linea {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
}

.linea-h1, .linea-h2 {
    left: 0;
    right: 0;
    height: 1px;
}

.linea-h1 {
    top: 135px;
}

.linea-h2 {
    top: 270px;
}

/*Menu*/
.btn-nav {
    background-color: #e30613;
    position: absolute;
    display: block;
    width: 135px;
    height: 135px;
    top: 0;
    right: 0;
    z-index: 3;
}

.btn-nav .burguer {
    position: absolute;
    width: 46px;
    height: 30px;
    left: 50%;
    margin-left: -23px;
    top: 50%;
    margin-top: -15px;
}

.btn-nav .burguer span {
    width: 100%;
    background: white;
    height: 5px;
    position: absolute;
}

.btn-nav .burguer span:first-child {
    top: 0
}

.btn-nav .burguer span:nth-child(2) {
    top: 13px
}

.btn-nav .burguer span:last-child {
    bottom: 0
}

#nav-main {
    display: block;
    position: fixed;
    background-color: #e30613;
    width: 50%;
    height: 100%;
    top: 0;
    z-index: 2;
    right: 0;
    right: -50%;
    padding: 170px;
    transition: right 500ms ease;
}

#nav-main a {
    display: block;
    font-size: 3.25rem;
    font-family: 'oswaldregular';
    color: white;
    line-height: 2.5;
}

.velo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 800ms ease;
    opacity: 1;
}

.velo.oculto {
    opacity: 0;
}

#logo-cusezar {
    position: absolute;
    bottom: 30px;
}

.interna h1 {
    background: #e30613;
    color: #ffffff;
    font-size: 3.5rem;
    margin: 0;
    line-height: 1;
    padding-top: 1rem;
    padding-bottom: 1.2rem;
}

.btn {
    display: block;
    width: 240px;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'oswaldregular';
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border: 3px solid #e30613;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1;
    color: #e30613;
    letter-spacing: 0.075em;
    padding: 0;
}

.btn .text {
    transition: transform .4s ease;
    z-index: 1;
    position: relative;
    width: 100%;
    display: block;
    padding: .7rem .5rem .8rem;
}

.btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #e30613;
    transform: translateY(100%);
    transition: transform .4s ease;
    height: 100%;
    width: 100%;
    padding: .7rem .5rem;
}

.btn:hover .text {
    transform: translateY(-104%) translateZ(0);
    color: #e30613;
}

.btn:hover .hover {
    transform: translateZ(0);
}

.letra {
    position: absolute;
    top: 0;
    left: 0;
}

.letra.c {
    width: 389px;
}

.letra.e {
    width: 330px;
}
.letra.n {
    width: 381px;
}
.letra.a {
    width: 450px;
}
.btn-blanco {
    color: #fff;
    border: 3px solid #ffffff;
}

.btn-blanco:hover .text {
    color: #fff;
}

.btn-blanco .hover {
    color: #e30613;
    background: #ffffff;
}

h1 .bg-trans , h1 .bg-rojo {
    display: block;
    min-height: 91px;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
}

/*=======
=========
Inicio
=========
=======*/
.inicio #fullwrap {
    background: url('../img/fondo-home-temp.jpg') no-repeat center;
    background-size: cover;
}

.inicio .logo {
    background: white;
    width: 135px;
    height: 135px;
    padding: 14px 12px 10px;
    margin-top: 135px;
}

.nav-home {
    display: block;
    margin-top: 135px;
    height: 576px;
    position: relative;
    border: 4px solid white;
}

.nav-home a {
    display: block;
    position: absolute;
    padding: 1rem;
    color: white;
    overflow: hidden;
}

.nav-home a:before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
    left: 0;
    background-color: #e30613;
    transition: height 500ms ease-out;
}

.nav-home a:hover:before {
    height: 100%;
}

.nav-home a h2 {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 2rem;
    line-height: 1.25;
    bottom: 15px;
    left: 15px;
}

.nav-home a p {
    margin-bottom: 0;
    opacity: 0
}

.nav-home a:hover p {
    transition: opacity 300ms linear 300ms;
    opacity: 1
}

.nav-home a .txt {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.nav-home .lugar {
    height: 100%;
    width: 50%;
    border-right: 4px solid white;
    top: 0;
}

.nav-home .proyecto {
    right: 0;
    width: 50%;
    height: 75%;
    border-bottom: 4px solid white;
}

.nav-home .zonas {
    left: 50%;
    bottom: 0;
    width: 25%;
    height: 25%;
    border-right: 4px solid white;
}

.nav-home .ubicacion {
    right: 0;
    bottom: 0;
    width: 25%;
    height: 25%;
}

.nav-home .zonas h2, .nav-home .ubicacion h2 {
    transition: all 700ms;
    margin-bottom: 0;
}

.nav-home .zonas:hover h2, .nav-home .ubicacion:hover h2 {
    transform: translateY(-15px);
}

.nav-home .lugar .txt, .nav-home .proyecto .txt {
    transform: translateY(100%);
    bottom: calc(2rem + 20px);
    transition: all 700ms;
}

.nav-home .lugar:hover .txt, .nav-home .proyecto:hover .txt {
    transform: translateY(0);
    bottom: 15px;
}

.inicio .col:first-child {
    min-height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

/*=======
=========
Lugar 01
=========
=======*/
#lugar_01 .velo {
    opacity: 0;
}

#lugar_01 #fullwrap {
    background: url('../img/fondo-lugar_01-color.jpg') no-repeat center;
    background-size: 100%;
}

#lugar_01 #fullwrap:before {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    background: url('../img/fondo-lugar_01-gris.jpg') no-repeat left;
    background-size: 200%;
}

#lugar_01 .videowrap {
    overflow: hidden;
    width: 100%;
    width: calc(100%);
    height: 690px;
    margin-top: 270px;
}

#lugar_01 .videowrap video {
    max-height: 100%;
}

#lugar_01 .bloque {
    background: white;
    margin-top: 270px;
    margin-top: 135px;
    min-height: 826px;
    padding-top: 135px;
    margin-right: 135px;
    position: relative;
}

#lugar_01 h1 {
    padding-left: 30px;
    margin-bottom: 70px;
}

#lugar_01 p {
    padding: 30px;
    font-size: 1.5rem;
}

#lugar_01 .btn {
    left: 30px;
    position: absolute;
    bottom: 30px;
}

#lugar_01 .letra.c {
    top: 65px;
    left: 70px
}

#lugar_01 .letra.e {
    top: 70px;
    left: 500px;
}

/*=======
=========
Lugar 02
=========
=======*/
#lugar_02 #fullwrap {
    background: url('../img/fondo-lugar_02-color.jpg') no-repeat center;
}

#lugar_02 .img-lugar-2 {
    margin-top: 135px;
    background: url('../img/fondo-lugar_02-color.jpg') no-repeat -135px -135px;
    height: 600px;
    height: calc(100vh - 135px);
}

#lugar_02 h1 {
    margin-top: 270px;
    width: 150%;
    margin-left: -50%;
    padding-left: 20px;
}

#lugar_02 .rango-area {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 135px;
    margin-bottom: 135px;
    min-height: 190px
}

#lugar_02 .btn {
    float: right;
    clear: all;
}
#lugar_02 .letra.n {
    top: 75px;
    left: 70px
}
#lugar_02 .letra.n2 {
    left: 550px
}
/*=======
=========
Lugar 03
=========
=======*/
#lugar_03 h1 {
    background: transparent;
    margin-top: 179px;
    padding: 0;
}

#lugar_03 .bg-trans {
    background: transparent;
}

#lugar_03 .bg-rojo {
    background: #e30e13;
}

#lugar_03 #fullwrap {
    background: url('../img/fondo-lugar_03.jpg') no-repeat center;
    background-size: cover;
}

#lugar_03 .velo {
    opacity: 0;
}

#lugar_03 #habitaciones {
    margin-top: 135px;
}

#lugar_03 .custom-control {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    color: white;
    font-family: 'oswaldregular';
    font-size: 2.5rem;
    margin-right: 2rem;
    cursor: pointer;
    padding: 0;
    margin: 0 2rem 0 0;

    text-align: center;
}

#lugar_03 .custom-control-label::before {
    display: none;
}

#lugar_03 .custom-control-label::after {
    display: none;
}

#lugar_03 .custom-radio .custom-control-input:checked~.custom-control-label {
    background-color: #e30e13
}

#lugar_03 .custom-control-input {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    left: 0;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none!important;
}

#lugar_03 .custom-control-label {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    display: block;
    border: 4px solid #fff;
    transition: all 500ms;
}
#lugar_03 .btn {
    float: right;
    margin-top: 822px;
    margin-top: 80.5vh;
}
#lugar_03 .row > div:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
#lugar_03 .letra.a {
    right: 0;
    left: initial;
    bottom: 30px;
    top: initial;
    transform:translateX(50%)
}