@font-face {
    font-family: 'fira_sanslight';
    src: url('../fuentes/firasans-light-webfont.woff2') format('woff2'),
         url('../fuentes/firasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldregular';
    src: url('../fuentes/oswald-regular-webfont.woff2') format('woff2'),
         url('../fuentes/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Tipografia*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'oswaldregular';
}